.main-pet-container {
  display: flex;
  margin: 0 auto 15px auto;
  flex-direction: column;
  width: 85vw;
  max-width: 475px;
}

.pet-image {
  display: flex;
  margin: 25px auto 0 auto;
  width: 85vw;
  max-width: 475px;
  border-radius: 10px;
  box-shadow: 6px 7px 11px rgba(0, 0, 0, 0.6);
}

.edit-delete-container {
  display: flex;
  margin: 5px 15px 0 auto;
}

.pet-edit-link {
  text-decoration: none;
  color: black;
}

.pet-edit-icon {
  width: 25px;
}

.pet-edit-text {
  font-size: 20px;
  font-family: FredokaOne;
}

.pet-edit-button {
  width: 110px;
  border-radius: 10px;
  border: 3px solid #0000b5;
  box-shadow: 6px 7px 11px rgba(0, 0, 0, 0.6);
}

.pet-delete-link {
  text-decoration: none;
  color: black;
}

.pet-delete-icon {
  width: 25px;
}

.pet-delete-text {
  font-size: 20px;
  font-family: FredokaOne;
}

.pet-delete-button {
  width: 110px;
  border-radius: 10px;
  border: 3px solid #0000b5;
  box-shadow: 6px 7px 11px rgba(0, 0, 0, 0.6);
}

.pet-descriptions-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px auto;
  padding: 5px;
  width: 85vw;
  max-width: 512px;
  text-align: left;
  border: 2px solid #0000b5;
  border-radius: 10px;
  box-shadow: 6px 7px 11px rgba(0, 0, 0, 0.6);
}

.pet-descriptions-title {
  text-decoration: underline;
  margin: 0;
  font-size: 15px;
  width: 85vw;
}

.pet-descriptions {
  margin: 0;
  width: 85vw;
  max-width: 512px;
  font-size: 20px;
  word-break: break-all;
}

.pet-edit-button:hover {
  width: 120px;
  border-width: 5px;
  transition: ease-in 0.2s;
}
.pet-delete-button:hover {
  width: 120px;
  border-width: 5px;
  transition: ease-in 0.2s;
}

@media (min-width: 730px) {
  .main-pet-container {
    margin: 20px 0 20px 20px;
  }
  .pet-container {
    display: flex;
  }
  .pet-image {
    margin: 0;
    width: 50vw;
  }
  .edit-delete-container {
    margin-left: 30px;
  }
  .pet-edit-icon {
    width: 35px;
  }
  .pet-edit-text {
    font-size: 30px;
  }
  .pet-edit-button {
    margin-right: 20px;
    width: 120px;
  }
  .pet-edit-link {
    height: 48px;
  }
  .pet-delete-icon {
    width: 35px;
  }
  .pet-delete-link {
    height: 48px;
  }
  .pet-delete-text {
    font-size: 25px;
  }
  .pet-delete-button {
    width: 150px;
  }
  .pet-descriptions-container {
    margin-left: 20px;
  }
  .pet-descriptions-title {
    font-size: 18px;
  }
  .pet-descriptions {
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .top-pet-container {
    display: flex;
  }
  .main-pet-container {
    margin: 20px 0 20px 20px;
  }
  .pet-container {
    display: flex;
    flex-direction: column;
  }
  .pet-image {
    margin: 0;
    width: 50vw;
  }
  .edit-delete-container {
    margin: 10px auto 10px auto;
  }
  .pet-edit-icon {
    margin-top: 3px;
    width: 30px;
  }
  .pet-edit-text {
    font-size: 20px;
  }
  .pet-edit-button {
    margin-right: 20px;
    width: 100px;
  }
  .pet-edit-link {
    height: 48px;
  }
  .pet-delete-icon {
    margin-top: 3px;
    width: 25px;
  }
  .pet-delete-link {
    height: 48px;
  }
  .pet-delete-icon {
    width: 30px;
  }
  .pet-delete-text {
    font-size: 20px;
    font-family: FredokaOne;
  }
  .pet-delete-button {
    width: 120px;
  }
  .pet-descriptions-container {
    margin-top: 20px;
    height: 500px;
  }
}
