.sign-in-up-logo {
  display: flex;
  margin: 10px auto 0 auto;
  width: 150px;
}

.sign-in-up-title {
  margin: 0;
  font-size: min(10vw, 70px);
  color: #000080;
}

.sign-in-up-form {
  display: flex;
  flex-direction: column;
}

.sign-in-up-text {
  display: none;
}

.sign-in-up-input {
  display: flex;
  margin: 15px auto 0 auto;
  padding-left: 10px;
  width: 78vw;
  max-width: 510px;
  height: 35px;
  font-size: 18px;
  font-weight: 500;
  font-family: FredokaOne;
  border: 4px solid #3a3af7;
  border-radius: 6px;
}

.sign-in-up-button {
  display: flex;
  justify-content: center;
  margin: 15px auto 0 auto;
  padding-top: 5px;
  width: 50vw;
  max-width: 235px;
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  font-family: FredokaOne;
  border-color: #3a3af7;
  border-radius: 6px;
  border-width: 4px;
}

.account-question-text {
  margin-bottom: 0;
}

.sign-up-link {
  text-decoration: none;
  color: black;
}

.sign-up-link-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5px;
  width: 30vw;
  max-width: 150px;
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  font-family: FredokaOne;
  border-color: #3a3af7;
  border-radius: 6px;
  border-width: 4px;
}

.sign-in-dog-cat-image {
  display: flex;
  margin: 9px 0 0 auto;
  width: 250px;
}

@media (min-width: 730px) {
  .sign-in-up-logo {
    width: 300px;
  }
  .sign-in-up-input {
    height: 45px;
    font-size: 27px;
  }
  .sign-in-up-button {
    height: 40px;
    font-size: 20px;
  }
  .account-question-text {
    font-size: 20px;
  }
  .sign-up-link-button {
    height: 40px;
    font-size: 20px;
  }
  .sign-in-dog-cat-image {
    width: 330px;
  }
}

@media (min-width: 1024px) {
  .main-sign-in-up-container {
    display: flex;
  }
  .sign-in-up-logo {
    margin-top: 20px;
    width: 450px;
  }
  .sign-in-up-title {
    font-size: 85px;
  }
  .main-sign-in-up-form-container {
    width: 1000px;
  }
  .sign-in-up-form-container {
    margin-left: 30px;
    height: 400px;
  }
  .sign-in-up-text {
    display: flex;
    margin: 50px auto 0 auto;
    font-size: 30px;
  }
  .sign-in-dog-cat-image {
    display: flex;
    width: 400px;
  }
}
