.update-drop-down {
  margin-bottom: 10px;
  width: 40vw;
  max-width: 300px;
  height: 35px;
  font-family: FredokaOne;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  border: 4px solid #3a3af7;
  box-shadow: 6px 7px 11px rgba(0, 0, 0, 0.7);
}

.create-image {
  margin: 0 auto 10px auto;
  width: 40vw;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

@media (min-width: 730px) {
  .update-drop-down {
    margin-bottom: 15px;
    padding-left: 5px;
    height: 40px;
    font-size: 23px;
  }
}
