.update-add-your-pet {
  margin: 10px 0 5px 0;
  font-size: 18px;
}

.update-form-container {
  margin: 0 auto;
}

.update-create-image {
  margin: 0 auto;
  width: 35vw;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

.update-create-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.update-label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.update-create-input {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 78vw;
  max-width: 420px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  font-family: FredokaOne;
  border: 4px solid #3a3af7;
  border-radius: 6px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

.update-create-text-area {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 78vw;
  max-width: 420px;
  height: 75px;
  font-size: 18px;
  font-weight: 500;
  font-family: FredokaOne;
  border: 4px solid #3a3af7;
  border-radius: 6px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

.update-create-button {
  display: flex;
  justify-content: center;
  margin: 10px auto 15px auto;
  padding-top: 6px;
  width: 40vw;
  max-width: 225px;
  height: 40px;
  font-size: 17px;
  font-weight: 500;
  font-family: FredokaOne;
  border-color: #3a3af7;
  border-radius: 6px;
  border-width: 4px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

@media (min-width: 730px) {
  .update-add-your-pet {
    font-size: 30px;
  }
  .update-create-image {
    width: 35vw;
  }
  .update-label {
    font-size: 18px;
  }
  .update-create-input {
    height: 45px;
    font-size: 22px;
  }
  .update-create-text-area {
    height: 85px;
    font-size: 20px;
  }
  .update-create-button {
    padding-top: 6px;
    height: 50px;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .update-add-your-pet {
    font-size: 30px;
  }
  .update-form-container {
    display: flex;
    margin-top: 30px;
  }
  .update-create-image {
    margin: 0 100px 0 20px;
    width: 35vw;
  }
  .update-label {
    font-size: 18px;
  }
  .update-create-input {
    height: 45px;
    font-size: 22px;
  }
  .update-create-text-area {
    height: 85px;
    font-size: 20px;
  }
  .update-create-button {
    padding-top: 6px;
    height: 50px;
    font-size: 25px;
  }
}
