.pets-link {
  text-decoration: none;
  color: black;
}

.pets-container {
  position: relative;
  margin: 10px auto 10px auto;
  width: 75vw;
  max-width: 370px;
  border-radius: 10px;
  border: 4px solid #3a3af7;
  box-shadow: 6px 7px 11px rgba(0, 0, 0, 0.7);
}

.pets-images {
  margin: 0 auto;
  padding: 10px 0 40px 0;
  width: 70vw;
  max-width: 330px;
  max-height: 350px;
}

.pets-name {
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
  width: 100%;
  font-size: 30px;
}

@media (max-width: 375px) {
  .pets-name {
    font-size: 20px;
  }
}

@media (min-width: 730px) {
  .container-for-tablet-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-pets-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  .pets-container {
    margin-top: 0;
  }
  .pets-images {
    width: 40vw;
    height: 42vh;
  }
}

@media (min-width: 1024px) {
  .main-pets-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  .pets-container {
    width: 21vw;
  }
  .pets-images {
    width: 19vw;
    margin-bottom: 5px;
  }
  .pets-name {
    margin: 0;
    font-size: 20px;
    padding-bottom: 5px;
  }
}
