.header-one {
  display: flex;
  flex-direction: row;
  height: 95px;
  background-color: #000080;
  border-bottom: 2px solid white;
}

.header-logo {
  display: flex;
  width: 110px;
}

.header-title {
  display: flex;
  margin: 20px 0 0 10px;
  font-size: 56px;
  color: white;
}

.header-two {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #000080;
}

.header-welcome-user {
  display: flex;
  margin: 1px 0 0 10px;
  width: 250px;
  font-size: 20px;
  color: white;
}

.header-sign-out-button {
  display: flex;
  margin: 10px 0 0 10px;
  text-decoration: none;
  color: white;
  font-family: FredokaOne;
  background-color: #000080;
  border-radius: 5px;
  border: 1px solid white;
}

.header-add-link {
  display: flex;
  margin: 13px 10px 0 auto;
  text-decoration: none;
}

.header-add-button {
  padding: 2px;
  height: 35px;
  border-radius: 5px;
}

.header-add-icon {
  width: 25px;
}

.header-add-text {
  font-size: 22px;
  font-family: FredokaOne;
}
