.header-one {
  display: flex;
  flex-direction: row;
  height: 95px;
  background-color: #000080;
  border-bottom: 2px solid white;
}

.header-logo-link {
  text-decoration: none;
}

.header-logo {
  display: flex;
  width: 100px;
}

.header-title {
  display: flex;
  margin: 20px 0 0 10px;
  font-size: 50px;
  color: white;
}

.header-two {
  display: flex;
  flex-direction: row;
  height: 65px;
  background-color: #000080;
}

.header-welcome-text {
  margin: 0;
  width: 500px;
  text-align: left;
}

.header-welcome-user {
  display: flex;
  margin: 1px 0 0 10px;
  width: 70vw;
  font-size: 23px;
  color: white;
}

.header-sign-out-link {
  display: flex;
  margin: 3px 0 0 10px;
  text-decoration: none;
  width: 83px;
}

.header-sign-out-button {
  display: flex;
  color: white;
  width: 83px;
  height: 30px;
  font-size: 15px;
  font-family: FredokaOne;
  background-color: #000080;
  border-radius: 5px;
  border: 1px solid white;
}

.header-sign-out-text {
  font-size: 16px;
  margin: 3px auto 0 auto;
}

.header-add-link {
  display: flex;
  margin: 9px 10px 0 auto;
  text-decoration: none;
}

.header-add-button {
  height: 45px;
  border-radius: 5px;
  background-color: white;
}

.header-add-icon {
  padding-top: 2px;
  width: 37px;
}

.header-add-text {
  display: none;
}

.header-sign-out-button:hover {
  padding-top: 3px;
  font-size: 15px;
  border-width: 5px;
  transition: ease-in 0.2s;
}
.header-add-button:hover {
  border-color: white;
  transition: ease-in 0.2s;
}

@media (max-width: 353px) {
  .header-title {
    margin-top: 32px;
    font-size: 40px;
  }
}

@media (min-width: 730px) {
  .header-one {
    height: 100px;
    border-bottom: 3px solid white;
  }
  .header-logo {
    width: 105px;
  }
  .header-title {
    margin: 15px 0 0 15px;
    font-size: 70px;
  }
  .header-two {
    padding-right: 20px;
    height: 80px;
  }
  .header-welcome-user {
    margin: 3px 0 0 10px;
    width: 75vw;
    font-size: 28px;
  }
  .header-sign-out-link {
    margin: 10px 0 0 10px;
    width: 90px;
  }
  .header-sign-out-button {
    font-size: 18px;
  }
  .header-add-button {
    display: flex;
    margin-top: 6px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
  }
  .header-add-icon {
    padding-top: 4px;
    width: 37px;
  }
  .header-add-text {
    padding-top: 4px;
    display: inline-flex;
    font-size: 33px;
    font-family: FredokaOne;
  }
}

@media (min-width: 1024px) {
  .header-logo {
    width: 105px;
  }
  .header-container {
    display: flex;
    width: 100vw;
  }
  .header-one {
    height: 100px;
    border-bottom: none;
  }
  .header-two {
    width: 100%;
    height: 100px;
  }
  .main-header-welcome-container {
    margin: 10px 0 0 auto;
    display: flex;
  }
  .header-welcome-user {
    display: flex;
    width: 334px;
    font-size: 20px;
  }
  .header-welcome-text {
    text-align: right;
    margin-bottom: 10px;
    width: 330px;
    font-size: 22px;
  }
  .header-sign-out-link {
    margin: 0 10px 10px auto;
    width: 90px;
  }
  .header-sign-out-button {
    font-size: 18px;
  }
  .header-add-link {
    display: none;
  }
}
